/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-100;
  font-family: var(--quicksand-font), sans-serif;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h2, h3 {
  @apply text-base-content;
  font-family: var(--baloo2-font);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 10px 0;
  text-align: left;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
}

h3 {
  font-size: 2rem;
  padding: 15px 5px;
}

p {
  @apply text-base-content;
  font-weight: 500;

}

.collections-heading {
  text-align: center;
}

.banner-heading {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 700;
  text-align: center;
}

.banner-sub-text {
  font-weight: 200;
  padding: 15px;
}

.cart-labels {
  font-weight: 700;
}

label {
  text-transform: capitalize;
}

::placeholder {
  text-transform: capitalize;
}

input {
  padding: 8px;
  margin: 8px;
  min-height: 20px;
  min-width: 20px;
}

select option {
  text-transform: capitalize;
}

img {
  border-radius: 20px;
}

.clip-custom-shape {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
